@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Setting up flex display */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}
/* Specifies main content and push footer to the bottom */
main {
	flex: 1 0 auto;
}
#logo {
	margin-left: 2em;
	width: 2em;
	height: 2em;
	border: 0px transparent solid;
	border-radius: 50%;
}

#map {
	height: 80%;
}
.modal {
	width: 75% !important ;
	max-height: 100% !important ;
	overflow-y: hidden !important ;
}
#navbar {
	margin-top: 8px;
}

.coli {
	width: 30%;
	min-height: 300px;
	max-height: auto;
	display: inline-block;
}
.games {
	width: 70%;
	min-height: 300px;
	max-height: auto;
	display: inline-block;
}

#add {
	position: fixed;
	bottom: 5em;
	right: 5em;
}

.active {
	border-bottom: #fff solid;
}

.vs {
	position: relative;
	top: 5rem;
}

.games-join {
	position: relative;
	bottom: 1rem;
}

.field_name {
	display: inline;
	border-bottom: #66bb6a solid;
}

#edit {
	position: fixed;
	bottom: 5em;
	right: 5em;
}
